* {
    font-family:Arial, Helvetica, sans-serif;
}

h1 {
    font-size:xx-large;
    text-transform: uppercase;
    margin-bottom: 50px;
}
 
body {
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
    border: 2px solid black;
    margin-right: 20px;
}

#chessboard div {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.black {
    background-color: #825696;
}

.white {
    background-color: #e7d2ee;
}

.piece {
    cursor: pointer;
}

.captured-pieces {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size:larger;
}

#captured-whites,
#captured-blacks {
    margin: 10px 0;
}
